<% if fixed_top_article && fixed_top_article.position < 0 %>
<div class="containerPlus  {skin:'yplight'}">
	<div class="no">
		<div class="ne">
			<div class="n">		

			</div>
		</div>
	<div class="o">
		<div class="e">
			<div class="c">
				<div class="mbcontainercontent">
					<div id="<%= dom_id(fixed_top_article) %>" class="entry clearing">

  	<div class="content">
  		<h2>
  			<%= link_to_content(fixed_top_article) %>
		</h2>
  		<% fixed_top_article.assets.each do |asset| %>
			<div class="floatright">
			  <% if asset.matches?(:pdf) %>
			    <%= image_tag(mode == :single ? '/images/pdf.png' : '/images/pdf.png') %>
			  <% elsif asset.matches?(:movie) && mode == :single %>
  			  <div style="display:block;width:310px;height:200px;" id="asset_huluPlayer"></div>
          <div id="asset_hulu" class="hulu"></div>
          <script>
            $(window).load(function() {
              $f("asset_huluPlayer", "/sites/site-1/themes/yaronproducties/flash/flowplayer-3.1.3.swf", {
                clip: {
                  baseUrl: '/sites/site-1/assets/',
                  subTitle: 'Filmpje', 
                  autoPlay: false, 
                  autoBuffering: true 
                }, 
                playlist: [
                  "<%= asset.base_url(:normal)%>"
                ],
                plugins: {controls: null}
              }).controls("asset_hulu", {duration: 25}) 
            });
          </script>	
			  <% else %>			
			<div id="img"><%= link_to (image_tag(asset.base_url(:glider_thumb)), asset.base_url )%></div>
		<% end %>
		</div>
		<% end %>
			<% if fixed_top_article.has_excerpt? %>
				<%= fixed_top_article.excerpt_html %>
				<p><%= link_to_content t( :'adva.blog.links.more' ), fixed_top_article %></p>
			<% end %>
		<%= fixed_top_article.body_html if !fixed_top_article.has_excerpt? %>
    </div>
	<div class="meta">
  	  <p>
  	    <%= datetime_with_microformat(fixed_top_article.published_at, :format => :long, :type => :date) %><br />
  	    <%= t(:'adva.blog.attribution', :author => fixed_top_article.author_name) %>
    	  <%= link_to_content_comments fixed_top_article if (fixed_top_article.accept_comments? || fixed_top_article.comments.present?) %>
    	  <% authorized_tag :span, :update, fixed_top_article do -%>
			<%= link_to t(:'adva.common.edit'), edit_admin_article_path(@site, @section, fixed_top_article) %>
			<% end -%>
      	<%= links_to_content_categories fixed_top_article, :'adva.common.content_categories' %>
      	<%= links_to_content_tags fixed_top_article, :'adva.common.content_tags' %>
		</p>
		</div>
	</div>
  				</div>
			</div>
		</div>
	</div>
		<div class="so">
			<div class="se">
				<div class="s">
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
