<%
  only_movies = false unless only_movies
  use_dnd = false unless use_dnd
%>
<script type="text/javascript" charset="utf-8">
  var import_window = false;

  var sidebar_assets;
  var assets_paging;
  var asset_find_window;
  function sidebar_drag_view () {
    var sidebar_items = sidebar_drag_assets();
    var assets_paging = new Ext.PagingToolbar({
        pageSize: 18,
        store: assets_data
    });
    return {
			border: true,
			title: <%= only_movies ? "'Films'" : "t['assets']['title']" %>,
			width: 344,
			minSize: 344,
			maxSize: 344,
			id: 'sb',
			layout: 'border',
			items: [
			  sidebar_items
			],
      tbar: [{
        text: t['new_text'],
        iconCls: 'silk-add',
        handler: function(btn, ev) {
          generic_loader.show();
          in_submit = false;
          $.ajax({
            type: 'GET',
            dataType: "script",
            url: '<%= new_admin_asset_path(@site) %>.js',
            success: function(data) {
              generic_loader.hide();
              var items = {
                border: false,
                bodyStyle: "background-color: rgb(223, 232, 246); padding: 10px",
                html: data
              };
              
              if (popup_body_items) {
                items = popup_body_items;
              }
              
              import_window = new Ext.Window({
                layout: 'fit',
                width: 400,
                title: '<%= t(:'adva.titles.asset_add') %>',
                height: 167,
                modal: true,
                shadow: true,
                plain: true,
                border: false,
                closeAction: 'close',
                items: items,
              });
              import_window.show(this);
            }
          });
        },
        scope: this
      }, {
        text: '<%= t(:'adva.titles.asset_filter') %>',
        iconCls: 'silk-find',
        handler: function(btn, ev) {
          if (!asset_find_window) {
            asset_find_window = new Ext.Window({
              layout:'fit',
              title: '<%= t(:'adva.titles.asset_filter') %>',
              width: 350,
              height: 150,
              closeAction:'hide',
              plain: true,
              modal: true,
              shadow: true,
              border: false,

              items: new Ext.FormPanel({
                labelWidth: 75,
                frame: true,
                bodyStyle: 'padding:5px 5px 0',
                width: 350,
                defaults: {width: 230},
                defaultType: 'textfield',
                items: [{
                  fieldLabel: '<%= t(:'adva.titles.field') %>',
                  xtype: "combo",
      						hiddenName: 'asset_find_field',
      						hiddenId: 'asset_find_field',
          				triggerAction: 'all',
          				forceSelection: true,
                  mode: 'local',
                  store: new Ext.data.ArrayStore({
                    id: 0,
                    fields: [
                      'id',
                      'text'
                    ],
                    data: [['title', 'Titel'], ['data_file_name', 'Bestandsnaam']]
                  }),
                  valueField: 'id',
                  displayField: 'text',
                  value: 'title'
                },{
                  fieldLabel: '<%= t(:'adva.titles.contains') %>',
                  name: 'find_value',
                  id: 'asset_find_value'
                }]
              }),

              buttons: [{
                text: '<%= t(:'adva.common.cancel') %>',
                iconCls: 'silk-delete',
                handler: function() {
                  asset_find_window.hide();
                }
              },{
                text:'<%= t(:'adva.titles.asset_filter') %>',
                iconCls: 'silk-find',
                handler: function() {
                  asset_find_window.hide();
                  set_asset_query_phrase(document.getElementById('asset_find_value').value, document.getElementById('asset_find_field').value);
                }
              }]
            });
          }
          asset_find_window.show();
        },
        scope: this
      }],
      bbar: assets_paging
		}
  }
  var assets_data;
  var asset_edit_id;
  function set_asset_query_phrase (phrase, keyword) {
    if (!keyword) {
      keyword = "data_file_name";
    }
    var filter = phrase ? "filters[][selected]=" + keyword + "&filters[][title][scope]=contains&filters[][title][query]=" + encodeURIComponent(phrase) + "&filters[][data_file_name][scope]=contains&filters[][data_file_name][query]=" + encodeURIComponent(phrase) + "" : "";
    <% if only_movies %>
      assets_data.proxy.setUrl('<%= url_for admin_assets_url(@site) %>.xml?only=movie&' + filter, true);
    <% else %>
      assets_data.proxy.setUrl('<%= url_for admin_assets_url(@site) %>.xml?' + filter, true);
    <% end %>
    assets_data.reload();
  }
  function sidebar_drag_assets () {
    if (!sidebar_assets) {
      assets_data = new Ext.data.XmlStore({
          proxy : new Ext.data.HttpProxy({
              method: 'GET',
              prettyUrls: false,
              <% if only_movies %>
                url: '<%= url_for admin_assets_url(@site) %>.xml?only=movie'
              <% else %>
                url: '<%= url_for admin_assets_url(site) %>.xml'
              <% end %>
          }),
          autoLoad: {params:{start: 0, limit: 18}},
          root: 'record',
          record: 'record',
          id:'title',
          totalRecords: 'results',
          fields: ['id', 'title', 'data_content_typ', 'data_file_name', 'thumb_url', 'css_class']
      });
      
      sidebar_assets = new Ext.DataView({
        itemSelector: 'div.thumb-wrap',
        region: "center",
        style: 'padding-top: 5px; overflow:auto',
        multiSelect: true,
        border: false,
        <% if use_dnd %>
        plugins: new Ext.DataView.DragSelector({dragSafe:true}),
        <% end %>
        store: assets_data,
        tpl: new Ext.XTemplate(
            '<tpl for=".">',
            '<div class="thumb-wrap" id="asset_{id}" style="cursor: pointer">',
            '<div class="thumb thumb_for_{css_class}"><span class="{css_class}"></span><img src="{thumb_url}" class="thumb-img"></div>',
            '<span>{title}</span></div>',
            '</tpl>'
        ),
        listeners: {
        		dblclick: function(dataView,idx, node, e) {
              generic_loader.show();
              in_submit = false;
              asset_edit_id = node.id.replace(/.*_/,"");
              $.ajax({
                type: 'GET',
                dataType: "script",
                url: '<%= edit_admin_asset_path(@site, "asset_id") %>'.replace(/asset_id/,asset_edit_id),
                success: function(data) {
                  generic_loader.hide();
                  var items = {
                    border: false,
                    bodyStyle: "background-color: rgb(223, 232, 246); padding: 10px",
                    html: data
                  };

                  if (popup_body_items) {
                    items = popup_body_items;
                  }

                  import_window = new Ext.Window({
                    layout: 'fit',
                    width: 400,
                    title: '<%= t(:'adva.titles.asset_edit') %>',
                    height: 167,
                    modal: true,
                    shadow: true,
                    plain: true,
                    border: false,
                    closeAction: 'close',
                    items: items,
                  });
                  import_window.show(this);
                }
              });
        		}
        	}
      });
    }
  
    return sidebar_assets;
  }
  
</script>