<?xml version="1.0" encoding="UTF-8"?>
<dataset>
  <results><%= @assets.total_entries.to_s %></results>
  <page><%= @current_page.to_s %></page>
  <pages><%= @assets.total_pages.to_s %></pages>
  <% @assets.each do |asset| %>
    <record>
      <id><%= asset.id.to_s %></id>
      <title><%= h asset.title %></title>
      <data_content_type><%= asset.data_content_type %></data_content_type>
      <data_file_name><%= asset.data_file_name %></data_file_name>
      <css_class><%= asset.css_class %></css_class>
      <thumb_url><%= asset_image_args_for(asset) %></thumb_url>
      <normal_url><%= asset_image_args_for(asset, :normal) %></normal_url>
    </record>
  <% end %>
</dataset>