<style>
	#mask {
	background:#678 url(/sites/site-1/themes/technaplaza/images/mask_gradient_1000.png) no-repeat;
	/*background-position:-60px -79px;*/
	background-position:center;
}
</style>
		<script type="text/javascript">
		$(function() {
			// expose the form when it's clicked or cursor is focused
			$("form#login-form.expose").bind("click keydown", function() {

				$(this).expose({

					// custom mask settings with CSS
					maskId: 'mask',

					// when exposing is done, change form's background color
					onLoad: function() {
					this.getExposed().css({backgroundColor: '#D9C9BA'});
					},

					// when "unexposed", return to original background color
					onClose: function() {
					this.getExposed().css({backgroundColor: null});
					},

					api: true
					
				}).load();
			});
		});
	</script>
	<div id="bgwrapper" class="page_contact">
	<div id="center-box">
	<h2 class="technaplaza-logo" align="center" >YaronProducties.nl Login</h2>
<div class="containerPlus  {skin:'yplight'}">
	<div class="no">
		<div class="ne">
			<div class="n">		

			</div>
		</div>
	<div class="o">
		<div class="e">
			<div class="c">
				<div class="mbcontainercontent">
  <% form_for @user, :url => session_path, :html => {:id => 'login-form', :class => 'expose jqtransform'} do |f| %>
    <%= hidden_field_tag :return_to, params[:return_to] if params[:return_to] %>

  	<% f.field_set do %>
		<div class="rowElem">
		<%= f.label :email, 'E-mail' %>
    	<%= f.text_field :email %>
		</div>
		<div class="rowElem">
		<%= f.label :password, 'Wachtwoord' %>
    	<%= f.password_field :password %>
		</div>	
  		<div class="rowElem">
  			<%= check_box_tag 'user[remember_me]', 1, @remember_me, :id => 'user_remember_me' %>
			<%= label_tag :user_remember_me, t(:'adva.session.labels.remember_me'), :class => 'inline light' %>
		</div>
    <% end %>
  	
  	<% f.buttons do %>
	  <div class="rowElem" align="center">
  	  <%= submit_tag t(:'adva.titles.login'), :id => 'commit' %> <%= t(:'adva.common.connector.or')%> <%= link_to t(:'adva.passwords.titles.new'), new_password_path %>
    	<%#= link_to t(:'adva.users.titles.signup'), new_user_path %>
	  </div>
    <% end %>
  <% end %>
				</div>
			</div>
		</div>
	</div>
		<div class="so">
			<div class="se">
				<div class="s">
				</div>
			</div>
		</div>
	</div>
</div>

                     <div id="footer"><!-- Begin #footer -->
                        Ontwerp door Yaron Producties
                   </div><!-- Einde #footer -->
</div>
</div>

