<root>
	<record>
		<id><%= @photo.id.to_s %></id>
		<title><%= h @photo.title %></title>
		<author><%= @photo.author.id if @photo.author %></author>
		<comments><%#= photo.comments.present : t(:"adva.common.none") %></comments>
		<published_at><%= @photo.published_at %></published_at>
		<data_file_name><%= @photo.data_file_name %></data_file_name>
		<comment_age><%= @photo.comment_age %></comment_age>
		<tag_list><%= @photo.tag_list %></tag_list>
		<set><%#= @photo.set_list %></set>
	</record>
</root>