<script type="text/javascript" charset="utf-8">
	function modify_main_menu(menu) {
		var new_menu = [];
    $.each(
      menu,
      function (index,item) {
        if (!(/right/.test(item.id))) {
          new_menu[new_menu.length] = item;
        }
      }
    );
    return new_menu;
  }
  
  var import_window = false;
  var import_form = false;
	function extjs_toolbar_items () {
    return [{
        text: '<%= t(:'adva.common.add') %>',
        iconCls: 'silk-add',
        handler: function(btn, ev) {
          var import_form = new Ext.FormPanel({
            frame: false,
            labelWidth: 110,
            bodyStyle: 'padding:5px 10px 0;',
            fileUpload: true,
            errorReader: new Ext.data.CrudReader(),
            reader: new Ext.data.CrudReader(),
            items: [{
              xtype: 'textfield',
              fieldLabel: '<%= t(:'adva.common.title') %>',
              name: 'photo[title]'
            },{
              xtype: 'fileuploadfield',
              id: 'form-file',
              emptyText: 'Selecteer een foto',
              fieldLabel: 'Foto',
              name: 'photo[data]'
            }],
            buttons: [{
              text: '<%= t(:'adva.common.cancel') %>',
              iconCls: 'silk-cancel',
        			handler: function(btn, ev) {
                import_window.destroy();
              },
              scope: this
            },{
              text:'<%= t(:'adva.common.import') %>',
              iconCls: 'silk-add',
        			handler: function(btn, ev) {
                if(import_form.getForm().isValid()){
                  import_form.getForm().submit({
                      url: '<%= admin_photos_path(@site.id, @section) %>',
                      waitMsg: 'Bezig met toevoegen...',
                      params: {
                        authenticity_token: window._auth_token
                      },
                      success: function(fp, o){
                        if (__last_xhr_result=="OK") {
                          store.reload();
                          import_window.destroy();
                          generic_loader.hide();
                        } else {
                          import_window.show();
                          generic_loader.hide();
                          Ext.MessageBox.show({
                            title: 'Foto toevoegen',
                            msg: __last_xhr_result,
                            buttons: Ext.MessageBox.OK,
                            icon: Ext.MessageBox.ERROR
                          });
                        }
                      },
                      failure: function(fp, o) {
                        if (__last_xhr_result=="OK") {
                          store.reload();
                          import_window.destroy();
                          generic_loader.hide();
                        } else {
                          import_window.show();
                          generic_loader.hide();
                          Ext.MessageBox.show({
                            title: 'Foto toevoegen',
                            msg: __last_xhr_result,
                            buttons: Ext.MessageBox.OK,
                            icon: Ext.MessageBox.ERROR
                          });
                        }
                      }
                  });
                }
              },
            }]
          });
          
          import_window = new Ext.Window({
            layout: 'fit',
            width: 500,
            title: 'Foto toevoegen',
            height: 133,
            modal: true,
            shadow: true,
            plain: true,
            border: false,
            closeAction: 'close',
            items: import_form
          });
          import_window.show(this);
        },
        scope: this
    }];
	}
	
	function extjs_body_items() {
		return init_lico_adva_crud({
			columns: [{
				label: '<%= t(:'adva.common.title') %>',
				name: 'title',
				type: 'string',
				submit_value: 'photo[title]'
			},{
        label: '<%= t(:'adva.common.draft') %>',
        name: 'draft',
        type: 'boolean'
			}],
      store: {
        url: '<%= url_for admin_photos_path(@site.id, @section) %>.xml',
        sort: {
          by: 'title',
          order: 'asc'
        }
      },
      grid: {
        empty_details: '<%= t(:'adva.grid.photos') %>'
      },
      show: {
        url: '<%= edit_admin_photo_path(@site, @section, '!recordid!') %>',
        custom_form: edit_photo_form,
        custom_form_values: edit_photo_form_values
      },
      edit: {
        url: '<%= admin_photo_path(@site, @section, '!recordid!') %>',
        custom_actions: function(doc) {
          var id = xmlvalue(doc,"id");
          var draft = xmlvalue(doc,"draft");
          if (draft=="1") {
            return [{
                text: '<%= t(:'adva.common.publish') %>',
                iconCls: 'silk-accept',
                handler: function(btn, ev) {
                    if (grid.getSelectionModel().hasSelection()) {
                        var cell = grid.getSelectionModel().getSelected();

                      	Ext.Msg.show({
                      		id: 'publish-confirm',
                      		title: 'Foto publiceren',
                      		msg: 'Weet je zeker dat je deze foto wilt publiceren?',
                      		buttons: {
                      			ok: '<%= t(:'adva.common.publish') %>',
                      			cancel: '<%= t(:'adva.common.cancel') %>'
                      		},
                      		icon: Ext.MessageBox.QUESTION,
                      		fn: function(btn) {
                      			if (btn == "ok") {
                      				var mask = new Ext.LoadMask(Ext.getBody(), {
                      					msg: t['loader_text']
                      				});
                      				mask.show();

                              d = new Date();
                              
                      				$.ajax({
                      					url: crud_options.edit.url.replace(/!recordid!/, id),
                      					cache: false,
                      					data: {
                      						authenticity_token: window._auth_token,
                                  _method: 'put',
                      						"photo[published_at]": d.getDate()+"-"+(d.getMonth()+1)+"-"+d.getFullYear(),
                                  "photo[updated_at]": xmlvalue(selected_record,"date")
                      					},
                      					type: 'POST',
                      					success: function(html) {
                      						store.reload();
                      						mask.hide();
                      					}
                      				});
                      			}
                      		}
                      	});
                    }
                },
                scope: this
              }]
          } else {
            return [{
                text: 'Publicatie intrekken',
                iconCls: 'silk-delete',
                handler: function(btn, ev) {
                    if (grid.getSelectionModel().hasSelection()) {
                        var cell = grid.getSelectionModel().getSelected();

                      	Ext.Msg.show({
                      		id: 'publish-confirm',
                      		title: 'Publicatie intrekken',
                      		msg: 'Weet je zeker dat je de publicatie van deze foto wilt intrekken?',
                      		buttons: {
                      			ok: '<%= t(:'adva.common.revoke') %>',
                      			cancel: '<%= t(:'adva.common.cancel') %>'
                      		},
                      		icon: Ext.MessageBox.QUESTION,
                      		fn: function(btn) {
                      			if (btn == "ok") {
                      				var mask = new Ext.LoadMask(Ext.getBody(), {
                      					msg: t['loader_text']
                      				});
                      				mask.show();

                              d = new Date();
                              
                      				$.ajax({
                      					url: crud_options.edit.url.replace(/!recordid!/, id),
                      					cache: false,
                      					data: {
                      						authenticity_token: window._auth_token,
                                  _method: 'put',
                      						"photo[published_at]": "",
                                  "photo[updated_at]": xmlvalue(selected_record,"date")
                      					},
                      					type: 'POST',
                      					success: function(html) {
                      						store.reload();
                      						mask.hide();
                      					}
                      				});
                      			}
                      		}
                      	});
                    }
                },
                scope: this
              }]
          }
        }
      },
      destroy: {
        url: '<%= admin_photo_path(@site, @section, '!recordid!') %>',
        message: 'Weet je zeker dat je deze afbeelding wilt verwijderen?'
      }
    });
  }
  
  function edit_photo_form_values (parameters) {
    parameters["photo[title]"] = document.getElementById('record_title').value;
    if (document.getElementById("sets_select")) {
      var selected_sets = [""];
      var items = document.getElementById("sets_select").getElementsByTagName("input");
      for (var c=0; c<items.length; c++) {
        if (items[c].checked) {
          selected_sets[selected_sets.length] = items[c].id.replace(/set_/,"");
        }
      }
    
      parameters["photo[set_ids][]"] = selected_sets;
    }

		return parameters;
	}

	function edit_photo_form (record) {
    var title = xmlvalue(record,"title");

    var sets_select = "";
    var current_sets = record.getElementsByTagName("set");
    <% @section.sets.each do |set| %>
      var selected = false;
      for (var c=0; c<current_sets.length; c++) {
        if (xmlvalue(current_sets[c],"id") == "<%= set.id.to_s %>") {
          selected = true;
        }
      }
      sets_select += "<div><input " + (selected ? 'checked="checked" ':"") + "type='checkbox' name='set_<%= set.id.to_s %>' id='set_<%= set.id.to_s %>' /><label style='display: inline; padding-left: 1em;' for='set_<%= set.id.to_s %>'><%= h set.title %></label>";
    <% end %>

  	return [{
	    layout: 'column',
	    border: false,
	    items: [{
        columnWidth: .5,
        layout: 'form',
        border: false,
        items: [{
          xtype: 'textfield',
          fieldLabel: '<%= t(:'adva.common.title') %>',
          id: 'record_title',
          name: 'title',
          anchor: '95%',
          value: title
        }]
  	  }]
  	},{
	    xtype: 'tabpanel',
	    plain: true,
	    activeTab: 0,
	    height: 150,
	    defaults: {
	        bodyStyle: 'padding:10px'
	    },
	    items: [{
        cls: 'x-plain',
        title: 'Foto',
        layout: 'fit',
        html: '<img src="'+xmlvalue(record,"thumb_url")+'" />'
      },{
        cls: 'x-plain',
        title: 'Sets',
        layout: 'fit',
        items: {
            id: 'sets_select',
            border: false,
            html: sets_select
        }
	    }]
  	}];
	}
</script>
<% content_for :sidebar do -%>
<% end -%>
