<% if @article %>
<div class="containerPlus  {skin:'yplight'}">
	<div class="no">
		<div class="ne">
			<div class="n">		

			</div>
		</div>
	<div class="o">
		<div class="e">
			<div class="c">
				<div class="mbcontainercontent">
  <div id="<%= dom_id @article %>" class="entry">
                <% unless @section.try(:single_article_mode) %>
                        <h2><%= link_to_content(@article) %></h2>
                <% end %>

        <div class="body">
            <%= @article.excerpt_html %>
      <%= @article.body_html %>
        </div>
  </div>
  
				</div>
			</div>
		</div>
	</div>
		<div class="so">
			<div class="se">
				<div class="s">
				</div>
			</div>
		</div>
	</div>
</div>

  <%= render :partial => 'comments/list', :locals => { :commentable => @article, :comments => @article.approved_comments } %>
  <%= render :partial => 'comments/form', :locals => { :commentable => @article } if @article.accept_comments? %>

<% end %>