<root>
    <record>
      <id><%= @board.id.to_s %></id>
      <title><%= h @board.title %></title>
	  <description><%= h @board.description %></description>
      <topic_count><%= @board.topics_count %></topic_count>
      <posts_count><%= @board.posts_count %></posts_count>
    </record>
</root>