<div id="leftcolumn">
		

        <div class="overlay" id="overlay">
          <div  class="contentWrap"></div>
        </div><br/>
		
        <div class="containerPlus  {skin:'white', buttons:'m',icon:'browser.png'}">
          <div class="no">
            <div class="ne">
              <div class="n applynow">On this Site</div>
            </div>
            <div class="o">
              <div class="e">
                <div class="c">
                 <div class="mbcontainercontent">
                  <% Section.find_by_title("On this Site").articles.each do |article| %>
                      <%= link_to_content(article) %><br />
                    <% end %> 
                 </div>
                </div>
              </div>
            </div>
            <div>
              <div class="so">
                <div class="se">
                  <div class="s"></div>
                </div>
              </div>
            </div>
          </div>
        </div><br/>
		
		<div class="containerPlus  {skin:'default', icon:'join.png'}">
          <div class="no">
            <div class="ne">
              <div class="n applynow"><a href="http://adva.avansopen.nl/user/new">Join Avans University!</a></div>
            </div>
            <div class="o">
              <div class="e">
                <div class="c">
                 <div class="mbcontainercontent">
                 </div>
                </div>
              </div>
            </div>
            <div>
              <div class="so">
                <div class="se">
                  <div class="s"></div>
                </div>
              </div>
            </div>
          </div>
        </div><br/>
		<div class="containerPlus  {skin:'chatgirl', icon:'chatgirl.png'}">
          <div class="no">
            <div class="ne">
              <div class="n applynow"><a href="http://84.244.143.235/bigbluebutton/conference-session/joinIn/85115">Chat now!</a></div>
            </div>
            <div class="o">
              <div class="e">
                <div class="c">
                 <div class="mbcontainercontent">
                 </div>
                </div>
              </div>
            </div>
            <div>
              <div class="so">
                <div class="se">
                  <div class="s"></div>
                </div>
              </div>
            </div>
          </div>
        </div><br/>		
		

     <div class="overlay" id="overlay">
          <div class="contentWrap"></div>
        </div>
		 <div class="containerPlus  {skin:'default', buttons:'m',icon:'education.png', collapsed:'true'}">
          <div class="no">
            <div class="ne">
              <div class="n applynow">Top Education</div>
            </div>
            <div class="o">
              <div class="e">
                <div class="c">
                  <div class="mbcontainercontent">
                  	<br/>
                    <% Section.find_by_title("Full English courses").articles.each do |article| %>
                      <%= link_to_content(article) %><br />
                    <% end %> 
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="so">
                <div class="se">
                  <div class="s"></div>
                </div>
              </div>
            </div>
          </div>
        </div><br/>
			
		<div class="containerPlus  {skin:'black', buttons:'m',icon:'movie.png',width:'258'}">
          <div class="no">
            <div class="ne">
              <div class="n"></div>
            </div>
            <div class="o">
              <div class="e">
                <div class="c">
                  <div class="mbcontainercontent">
                  	<div class="playlist clips">
                    <% Playlist.find(:first, :conditions => ["site_id = ? and title = ?", @site.id, "Home"]).playlist_assets.each do |pa| %>
              <a href="<%= pa.asset.base_url(:normal) %>">
                <div class="floatleft"><%= image_tag pa.asset.base_url(:tiny) %></div>
                <%= pa.asset.title %>
                <% unless pa.asset.duration.nil? %>
                  <%= (pa.asset.duration / 60).to_s + ":" + (pa.asset.duration % 60).to_s %>
                <% end %> 
              </a>
            <% end %></div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="so">
                <div class="se">
                  <div class="s"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
		
		

      </div>
