<%= render :partial => "shared/header" %>
<%= render :partial => "shared/bgdefault" %>
<%= render :partial => "shared/top" %>

	</div><!-- Einde menu -->
	<div id="content">
	<!--<div id="reflect_img"></div> -->
	<div class="contentbox_large"><!-- Begin middelste blokje  -->
	<%= yield %>
	</div><!-- Einde middelste blokje   -->
<%= render :partial => "shared/columnrighttwitter" %>
</div>
</div>
      </div><!-- Einde #main -->
<%= render :partial => "shared/footer" %>
   </div><!-- Einde #top -->
</div><!-- Einde #bgwrapper -->

</body>
</html>