<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
 		<meta name="generator" content="Technaplaza" /> 
    <title><%= @site.title %> - <%= controller.controller_name %></title>
	<%= theme_stylesheet_link_tag 'yaronproducties', 'style1.css' %>
	<%= theme_stylesheet_link_tag 'yaronproducties', 'fancy.css' %>
	<%= theme_stylesheet_link_tag 'yaronproducties', 'jquery-ui-1_7_1_custom.css' %>
	<%= theme_stylesheet_link_tag 'yaronproducties', 'mbContainer.css' %>
	<%= theme_stylesheet_link_tag 'yaronproducties', 'form.css' %>
	<%#= theme_stylesheet_link_tag 'technaplaza', 'style.css' %>
	<%#= theme_stylesheet_link_tag 'technaplaza', 'sifr.css' %>
	<!--Internet Explorer Trancparency fix-->
	<!--[if lt IE 8]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script>
	<![endif]-->
 	<%= theme_javascript_include_tag 'yaronproducties', 'jquery.tools.min.js' %>	
  	<%#= theme_javascript_include_tag 'yaronproducties', 'jquery-1_3_2.js' %>
	<%#<script type="text/javascript">
	//     var JQ=$;  //rename $ function
		var JQ=jQuery.noConflict();  //rename $ function
	//     document.domain = "yaronproducties.net"; // to support posting
	</script>%>
	<%= theme_javascript_include_tag 'yaronproducties', 'jquery_fancybox-1_2_1.js' %>
	<%= theme_javascript_include_tag 'yaronproducties', 'jquery-ui-1.7.2.custom.min.js' %>
	<%= theme_javascript_include_tag 'yaronproducties', 'custom.js' %>
	<%= theme_javascript_include_tag 'yaronproducties', 'swfobject.js' %>
	<%#= theme_javascript_include_tag 'yaronproducties', 'dialog.js' %>
	<%#= theme_javascript_include_tag 'yaronproducties', 'metadata.js' %>
	<%#= theme_javascript_include_tag 'yaronproducties', 'ui.core.min.js' %>
	<%#= theme_javascript_include_tag 'yaronproducties', 'ui.draggable.min.js' %>
	<%#= theme_javascript_include_tag 'yaronproducties', 'ui.resizable.min.js' %>
	<%= theme_javascript_include_tag 'yaronproducties', 'mbContainer.js' %>
	<%= theme_javascript_include_tag 'yaronproducties', 'jquery.jqtransform.js' %>

  <%#= theme_javascript_include_tag 'technaplaza', 'sifr.js' %>
  <%#= theme_javascript_include_tag 'technaplaza', 'sifr_debug.js' %>
  <%#= theme_javascript_include_tag 'technaplaza', 'sifr-config.js' %>

    <%#= javascript_include_tag :common, :login, :cache => 'cache/admin/login' %>
	<%= javascript_include_tag :login %>
  <script type="text/javascript" charset="utf-8">
  	    $(function(){
      $(".containerPlus").buildContainers({
        containment:"parent",
        elementsPath:"/sites/site-1/themes/yaronproducties/images/elements/"
      });
    });
    $(function(){
      $('form.jqtransform').jqTransform({imgPath:'/sites/site-1/themes/yaronproducties/images/'});
    });
  </script>

    <%= yield :head %>
  </head>
  <body>   

    
    <div id="main">
      <div id="flashes"><%= render :partial => 'shared/flash' %></div>
      <div id="content">
        <%= yield %>      
      </div>
    </div>
<%= yield :foot %>
  </body>
</html>
