<%= render :partial => "shared/header" %>
<%= render :partial => "shared/bghome" %>
<%= render :partial => "shared/top" %>
<%= render :partial => "shared/portfolio" %>
</div>
<%#<div class="contentbox_tiny"><!-- Begin linkerblokje  -->%>
<div class="contentbox_large">

<%#</div><!--Eindig linkerblokje  -->

	<div class="contentbox_midsmall"><!-- Begin middelste blokje  -->%>
	<%= yield %>
	</div><!-- Einde middelste blokje   -->
<%= render :partial => "shared/columnrighttwitter" %>
</div>
</div>
<%= render :partial => "shared/footer" %>
      </div><!-- Einde #main -->
   </div><!-- Einde #top -->
</div><!-- Einde #bgwrapper -->

</body>
</html>
	<%#= theme_javascript_include_tag 'yaronproducties', 'jquery.dimensions.js' %>	
	<%#= theme_javascript_include_tag 'yaronproducties', 'jquery.gradient.js' %>