<% if @article %>
<div class="containerPlus  {skin:'white', icon:'browser.png'}">
	        <div class="no"><div class="ne"><div class="n"><%= link_to_content(@article) %></div></div>
	          <div class="o"><div class="e"><div class="c">
	            <div class="mbcontainercontent"><br/>

				  <div id="<%= dom_id @article %>">
				 <% @article.assets.each do |asset| %>
			
			<div class="floatleft"><%= image_tag(asset.base_url(:medium)) %></div>
			
			<% end %>
	    <%= @article.excerpt_html %>
      <%= @article.body_html %>

  </div>
	            </div>
	          </div></div></div>
	          <div >
	            <div class="so"><div class="se"><div class="s"></div></div></div>
	          </div>
	        </div>
	      </div>
<% end %>
