<?xml version="1.0" encoding="UTF-8"?>
<dataset>
	<results><%= @events.total_entries.to_s %></results>
	<% @events.each do |calendar_event| %>
		<record>
			<id><%= calendar_event.id.to_s %></id>
			<title><%= h calendar_event.title %></title>
			<host><%= h calendar_event.host %></host>
			<location><%=h calendar_event.location %></location>
			<start_date><%= calendar_event.start_date.strftime("%Y-%m-%d %H:%M:%S") %></start_date>
			<end_date><%= calendar_event.end_date.strftime("%Y-%m-%d %H:%M:%S") %></end_date>
			<all_day><%= calendar_event.all_day %></all_day>
			<draft><%= calendar_event.draft? ? "1" : "0" %></draft>
			<created_at><%= calendar_event.created_at.strftime("%Y/%m/%d") %></created_at>
	
		</record>
	<% end %>
</dataset>
