<div class="contentbox_small">
	
	<%#<div class="ui-widget ui-widget-content ui-corner-all">%>
<div class="containerPlus  {skin:'yplight'}">
	<div class="no">
		<div class="ne">
			<div class="n">		

			</div>
		</div>
	<div class="o">
		<div class="e">
			<div class="c">
				<div class="mbcontainercontent">
	<h2>Tags</h2>
		<span id="flashcontent">
			<!-- This will be shown to users with no Flash or Javascript. -->
			Je hebt geen javascript of flash geïnstalleerd.
		</span>
			<script type="text/javascript">
				var so = new SWFObject("/sites/site-1/themes/yaronproducties/images/tagcloud.swf", "tagcloud", "210", "210", "7", "#ffffff");
				// uncomment next line to enable transparency
				so.addParam("wmode", "transparent");
				so.addVariable("tcolor", "0x333333");
				so.addVariable("mode", "tags");
				so.addVariable("distr", "true");
				so.addVariable("tspeed", "150");
				so.addVariable("tagcloud", "<%= tag_list_for_site(@site).gsub(/'/,"\\'").gsub(/\"/,"'") %>");
				so.write("flashcontent");
			</script>
				</div>
			</div>
		</div>
	</div>
		<div class="so">
			<div class="se">
				<div class="s">
				</div>
			</div>
		</div>
	</div>
</div>			
	<%#</div>%>
	<%#br />%>
	<%#<div class="ui-widget ui-widget-content ui-corner-all">%>
<div class="containerPlus  {skin:'yplight'}">
	<div class="no">
		<div class="ne">
			<div class="n">		

			</div>
		</div>
	<div class="o">
		<div class="e">
			<div class="c">
				<div class="mbcontainercontent">
		<h2>Recent</h2>
		<cell name="content/recent" count="5" order="created_at ASC"/>
		<%#{% for latestarticle in site.latest_articles|limit: 5 %}<li>{{ latestarticle | link_to_article}}</li>{% endfor %}%>
				</div>
			</div>
		</div>
	</div>
		<div class="so">
			<div class="se">
				<div class="s">
				</div>
			</div>
		</div>
	</div>
</div>	
	<%#</div>%>


<%= theme_javascript_include_tag 'yaronproducties', 'tw/jquery.livequery.min.js' %>
<%= theme_javascript_include_tag 'yaronproducties', 'tw/effects.core.js' %>
<%= theme_javascript_include_tag 'yaronproducties', 'tw/jquery-ui-1.7.1.custom.min.js' %>
<%= theme_javascript_include_tag 'yaronproducties', 'tw/effects.highlight.js' %>
<script src="/twitter/widget.js" type="text/javascript"></script>

<div class="containerPlus  {skin:'yplight'}">
	<div class="no">
		<div class="ne">
			<div class="n">		

			</div>
		</div>
	<div class="o">
		<div class="e">
			<div class="c">
				<div class="mbcontainercontent">
					<h2>Twitter</h2>
					<div id="twitter"></div>
				</div>
			</div>
		</div>
	</div>
		<div class="so">
			<div class="se">
				<div class="s">
				</div>
			</div>
		</div>
	</div>
</div>	
</div>