
<div id="featured-content" class="add_bounce"><!-- Begin bouncer -->
	<% Section.find_by_title("Portfolio").articles.each do |article| %>
	<% if article.position >= 0 %>
	<div class="featured-item"><!-- Begin samenvatting -->
    	<div class="featured-text">
	        <h2><%= link_to_content(article) %></h2>
        	<%= article.excerpt %>
        	<%= link_to_content "Lees verder", article %>
	        	<div class="meta"><!-- Begin footer content samenvatting -->
        		<span class="floatleft">Geschreven <%= t(:'adva.blog.attribution', :author => article.author_name) %></span>
        		<span class="floatright">Geplaatst op: <%= datetime_with_microformat(article.published_at, :format => :long, :type => :date) %></span>
 				</div><!-- Einde footer content samenvatting  -->
   		</div><!-- Einde tekst samenvatting -->
		<div class="featured-image"><!-- Begin content plaatje -->
		<% article.assets.each do |asset| %>
			<%= image_tag(asset.base_url) %>
		<% end %>
		</div><!-- Einde content plaatje -->
	</div><!-- Einde samenvatting -->
	<% else %>
	<div class="featured-item current-item"><!-- Begin volgende samenvatting -->
    	<div class="featured-text">
        	<h2><%= link_to_content(article) %></h2>
        	<%= article.excerpt %>
        	<%= link_to_content "Lees verder", article %>
        		<div class="meta"><!-- Begin footer content samenvatting -->
        		<span class="floatleft">Geschreven <%= t(:'adva.blog.attribution', :author => article.author_name) %></span>
        		<span class="floatright">Geplaatst op: <%= datetime_with_microformat(article.published_at, :format => :long, :type => :date) %></span>
        		</div><!-- Einde footer content samenvatting  -->
   		</div><!-- Einde tekst samenvatting -->
		<div class="featured-image"><!-- Begin content plaatje -->
		<% article.assets.each do |asset| %>
			<%= image_tag(asset.base_url) %>
		<% end %>
		</div><!-- Einde content plaatje -->
	</div><!-- Einde samenvatting -->
	<% end %>
<% end %>
</div>
<div id="reflect"></div>
<a href='#' class='next-item' title="Volgende">volgende</a>